# Virtual environments
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# data + outputs
data/raw/
results/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt

# Unit test / coverage
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Type checkers
.mypy_cache/
.pyre/
.ruff_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project


# IPython
profile_default/
ipython_config.py

# env files
.env
.env.*

# Logs and temp
*.log
logs/
*.log.*
*.tmp
*~
*.swp

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Wheels
*.whl

# Node
node_modules/


# Misc
.ropeproject/
.cache/
*.egg-info/
data/raw/SROIE2019/layoutlm-base-uncased/
